main {
  background-color: rgb(33, 34, 54);
}

.navbar {
  display: flex;
  justify-content: space-around;
  padding: 2rem 3rem;
}

#nav-img-menu {
  padding-left: 80rem;
  width: 4rem;
  height: 2rem;
}

.main-section {
  padding: 0 8rem;
  color: white;
  font-size: 2rem;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;  
}

.button {
  margin: 1rem 0;
  border: transparent;
  border-radius: 3px;
  color: rgb(33, 34, 54);
  background-color: white;
  width: 8vw;
  height: 5vh;
  font-size: 1.5rem;
}

.section-cards {
  padding: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.card {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
